
:root {
  --main-background: #333541;
  --main-gradient-background: linear-gradient(225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}


@font-face {
  font-family: 'Pacifico Regular';
  font-style: normal;
  font-weight: 400;
  src:url('../public/fonts/Pacifico-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Nunito Black';
  font-style: normal;
  font-weight: 400;
  src:url('../public/fonts/Nunito-Black.ttf') format('truetype'),
  url('../public/fonts/Nunito-BlackItalic.ttf') format('truetype'),
  url('../public/fonts/Nunito-Bold.ttf') format('truetype'),
  url('../public/fonts/Nunito-ExtraBold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Nunito ExtraLight';
  font-style: normal;
  font-weight: 400;
  src:url('../public/fonts/Nunito-ExtraLight.ttf') format('truetype'),
}

@font-face {
  font-family: 'Nunito ExtraBold';
  font-style: normal;
  font-weight: 400;
  src:url('../public/fonts/Nunito-ExtraBold.ttf') format('truetype'),
}

.height-full {
  height: 100%;
  /* overflow: hidden; */
}

body {
  font-family: 'Nunito ExtraLight';
  height: 100vh;
  margin: unset;
}

.custom-input > input {
  margin: 5px 0;
  border-radius: 5px;
  border-style: none;
  padding: 15px 7px;
  background-color: #dec2cc;
  /* color: #ffffff; */
}

.custom-button {
  border-style: none;
  background-color: rgb(74, 67, 71);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  width: 100%;
}

.auth-container {
  min-width: 400px;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.form-container {
  border: 1px dashed #616161;
  width: 500px;
  padding: 50px 50px 35px 50px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* background: linear-gradient(to right, #333541, #303A4E); */
  background: none;
}

.gradient-bc {
  background: #bc4e9c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.inputSeparation > input {
  margin: 5px 0;
  border-radius: 5px;
  border-style: none;
  padding: 15px 7px;
  background-color: #dec2cc;
  color: #ffffff;
}

/* Drawer */
@media (min-width: 600px) {
  .MiniDrawer-drawerClose-8 {
    width: 57px !important;
  }
}

.detail-button {
  cursor: pointer;
  border-radius: 50%;
}

.detail-button:hover {
  color: #272727 !important;
  background-color: #8c8c8c !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
  /* -webkit-border-radius: 10px;
  border-radius: 10px; */
}

::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px;
  border-radius: 10px; */
  background: #9E9E9E; 
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #9E9E9E; 
}

.box-shadow-default {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  z-index: 1100; 
}

.gradient-background {
  background-image: var(--main-gradient-background)
}